<div class="container-fluid mt-2"><!--Contenedor principal-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><!--Barra de navegacion-->
    <a class="navbar-brand" href="#">
      <img src="assets/images/framework.png" width="30" height="30" class="d-inline-block align-top" alt="">NG BLOG!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <!--Listar todas las categorias-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a *ngFor="let category of categories" class="dropdown-item" [routerLink]="['category',category.id]">{{category.name}}</a>
          </div>
        </li>
      </ul>     

      <!---->
      <div *ngIf="identity && identity.name; else isLoggedOut">
        <ul class="navbar-nav mr-right">
          <li *ngIf="identity && identity.image" class="nav.item">
            <img src="{{ url + 'user/avatar/' + identity.image }}" class="avatar_nav">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{identity.name + ' ' + identity.surname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/create-post']">Create new posts</a>
              <a class="dropdown-item" [routerLink]="['/create-category']">Create new category</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/profile',identity.sub]">Profile</a>
              <a class="dropdown-item" [routerLink]="['/settings']">Settings</a>
              <a class="dropdown-item" [routerLink]="['/logout/1']">Logout</a>
            </div>
          </li>
        </ul>
      </div>
 
      <ng-template #isLoggedOut>
        <ul class="navbar-nav mr-right">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </nav><!--Fin barra de navegacion-->

<!--Contenido-->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!--Footer-->
<footer>
  <hr>
  Blog about programming with frameworks by Eduardo. &copy 2021
  <hr>
</footer>

</div><!--Fin Contenedor principal-->